/* html, body, .capa{ */
	/* height: 100%; */
	
/* } */

body{	
	/* background: url('img/astronauta.png') no-repeat center center fixed; */
	/* background-size: cover; */

}

p{
	line-height: normal;
}

.white {
	color:white;
}
.capa{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('img/astronauta.png') no-repeat center center;
	/* background: url('img/astronauta.png') no-repeat center center; */
	background-size: cover;
	padding-top: 7%;

}


.fundo {
position: absolute;
width: 375px;
height: 900px;
left: 350px;
top: 0px;

background: rgba(0, 0, 0, 0.75);

}

/*Texto Obrigada*/
.display-3 {
position: absolute;
width: 292px;
height: 39px;
left: 400px;
top: 320px;
	
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 120%;
/* or 58px */
	
color: #FFFFFF;
}

/*Faltam*/
.lead {
position: absolute;
width: 259px;
height: 209px;
left: 400px;
top: 450px;
	
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 34px;
line-height: 120%;
/* or 41px */
	
text-align: center;
	
color: #FFFFFF;
	
}

h1 {
position: absolute;
width: 241px;
height: 28px;
left: 380px;
top: 740px;

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.11em;

color: #FFFFFF;
}

.display-4 {
position: absolute;
width: 234px;
height: 21px;
left: 420px;
top: 790px;
	
font-family: Roboto slab;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */	
text-align: center;	
letter-spacing: 0.11em;
color: #ffffff;	
}

.imagem {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 520px;
	top: 700px;

}	

.baixo {
	position: absolute;
	width: 375px;
	height: 81px;
	left: 350px;
	top: 900px;
	
	background: #373737;
}

footer {
position: absolute;
width: 99px;
height: 21px;
left: 400px;
top: 858px;
padding-top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.um {
	position: absolute;
	width: 34px;
	height: 42px;
	left: 450px;
	top: 430px;
	
	background: #C4C4C4;
}

.dois {
	position: absolute;
	width: 34px;
	height: 42px;
	left: 500px;
	top: 430px;

	background: #C4C4C4;
}

.tres {
	position: absolute;
	width: 76px;
	height: 46px;
	left: 555px;
	top: 430px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 36px;

	color: #000000;
}


.quatro {
	position: absolute;
 	width: 34px;
	height: 42px;
	left: 550px;
	top: 430px;

	background: #C4C4C4;
}


.cinco {
	position: absolute;
	position: absolute;
	width: 34px;
	height: 42px;
	left: 600px;
	top: 430px;

	background: #C4C4C4;
}



	/* width:100%;  */
.ebook{
	background: #373737;
	padding-top: 2%;
	padding-bottom: 2%;

}
.curious{
	background: #FFFFFF;
	padding-top: 5%;
	padding-bottom: 2%;

}
.fim{
	background: #373737;
	padding-top: 2%;
	padding-bottom: 2%;
}

.tituloDestaque{
	font-weight: bold;
	font-family: Raleway;
	font-size: 30px;
	text-align: left;
	line-height: 150%;
}

.lua{
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height:120%
	color: white;
}

.inscrevase{
	text-align: center;
	color: white;	
	line-height:normal;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	
}


.curious1{
	text-align: left;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #373737;
}
.curious2{
	
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #373737;
}
.espaco{
	padding-bottom: 2%;

	line-height: 150%;
}

.ebook1{
	
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
	
}


.ebook2{
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #FFFFFF;

}


#centro {	
	position:relative;		
}

.ebooktitle{
	text-align:center;
	margin:auto;
	margin-bottom: 1%;
	margin-top:5%;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: white;
}
.quemsomosTitle{
	text-align:center;
	margin:auto;
	margin-bottom: 1%;
	margin-top:5%;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	color: #373737;
}

.vocesabia{
	
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	text-align: left;
	color: #373737;
}



.formulario{
	
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	text-align: center;

	margin-top:30px;
	padding:10px;

	color: #FFFFFF;
}

.formulario2{
	margin-top:40px
	
}
.tamanhoForm{
	width: 100%;
}

.imgEbook{
	max-width:45%;
	min-width: 10%;
	margin-bottom: 5%;

}

.col-md-4 , .col-md-6 {
	
	padding-bottom: 5%;
	padding-right: 5%;
  	padding-left: 5%;
}
.col-md-1,.col-md-0{

	padding-right: 6%;
  	padding-left: 6%;
}
.corBotao{
	background-color: #EC110D;
}
.barrinha {
    width: 1.5em;
    height: 0em;
    border: 5px solid;
    margin: auto;
    background-color: white;
    border-color: white;
}
.barrinhaVermelha {
    width: 1.5em;
    height: 0em;
    border: 5px solid;
    margin-top:0.5em;
    background-color: #EC110D;
    border-color: #EC110D;
}
.barrinhaPreta{
    width: 1.5em;
    height: 0em;
    border: 5px solid;
    margin: auto;
    background-color: #373737;
    border-color: #373737;
}

/* h1 { */
	/* font-size:100px; */
	/* font-weight:900; */
	/* letter-spacing: -0.05em; */
	/* margin-bottom:50px; */
/* } */
